/* A Modern CSS Reset */
*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

html {
    font-family: 'Roboto', 'Kosugi Maru', sans-serif;
}

body {
    background-color: #EFEFEF;
}

header {
    height: 50px;
    background-color: #202042;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-wrapper > p {
    color: #fff;
    font-weight: 700;
}

.header-bottom-line {
    height: 8px;
    margin-bottom: 16px;
    background-color: #ffc857;
}

.introduction {
    text-align: center;
}

.game {
    margin: 16px 0;
    text-align: center;
}

.detail {
    max-width: 640px;
    margin: 16px auto;
    line-height: 1.5;
}

.detail > p {
    margin-bottom: 8px;
}

.detail > h3 {
    margin: 16px 0;
}

.detail > h4 {
    margin: 16px 0;
}

footer {
    height: 50px;
    background-color: #202042;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.footer-wrapper > p {
    color: #fff;
}